</h1><div class="center jumbotron">
  <h1>Salut bébé, t'es sur Eventbrite</h1>

  <h2>
      C'est LE site pour créer des évènements,
         tu peux inviter tes potos du quartier, t'es content ?
    </h2>
    <%= link_to "Je m'inscris !", signup_path, class: "btn btn-lg btn-primary" %>
</div>
